<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-8">
        <div class="text-left profiledata">
          <img src="{{ profileData.userData.profilepicture }}" style="width:30%">
          <span>{{ profileData.userData.name }}</span>
        </div>
        <hr>
        <h1>Friends-List</h1>
    </div>
    <div class="col-xs-4 profiledata" *ngIf="show">
      <div *ngFor="let userdata of usersData" class="userClass">
        <div>
          <img src="{{ userdata.profilepicture }}" style="width:30%">
          <span>{{ userdata.name }}</span>
        </div>
        <br>
        <button type="button" class="btn btn-primary" (click)="friendsList($event)">Add Request</button>
      </div>
    </div>
    <div class="col-xs-4 profiledata" *ngIf="!show">
        Request successfully sent
       </div>
    
  </div>
</div>
</div>

